@font-face {
  font-family: 'Simple Icons';
  src: url(SimpleIcons.woff) format('woff'),
    url(SimpleIcons.woff2) format('woff2'),
    url(SimpleIcons.ttf) format('truetype'),
    url(SimpleIcons.otf) format('opentype'),
    url(SimpleIcons.eot) format('embedded-opentype');
}

.si {
  font-style: normal;
  font-family: 'Simple Icons', sans-serif;
  border: 1px dashed gray;
}
