doctype html
html
	head
		meta(charset='utf-8')

		link(href='font/font.css', rel='stylesheet', type='text/css')
		link(href='preview/assets/style.css', rel='stylesheet', type='text/css')

		script(src='preview/assets/script.js')

body
	header
		h1 Icon font test page

	button.toggle Light / dark

	p
		each icon in icons
			i.simpleicons.simpleicons--color(class=`simpleicons-${icon.cssClass}`, title=icon.name)
