body {
  font-family: sans-serif;
}

body.dark {
  background-color: #333;
  color: #fff;
}

.buttons-list {
  display: flex;
  justify-content: space-around;
  width: 250px;
  margin-bottom: 25px;
}

.buttons-list button {
  padding: 5px 10px;
  cursor: pointer;
}

i.si,
i.si-fit {
  display: inline-block;
  cursor: help;
}

p.grid {
  font-size: 32px;
}

p.grid i.si,
p.grid i.si-fit {
  margin: 0 4px;
  padding: 4px;
  border: 1px dashed gray;
}

p.paragraph {
  font-size: 18px;
}
