body {
	font-family: sans-serif;
}

body.dark {
	background-color: #333;
	color: #FFF;
}

.buttons-list {
	display: flex;
	justify-content: space-around;
	width: 250px;
	margin-bottom: 25px;
}

.buttons-list button {
	padding: 5px 10px;
	cursor: pointer;
}

p {
	margin-left: -4px;
	margin-right: -4px;
}

i.simpleicons {
	display: inline-block;
	margin: 0 4px;
	padding: 4px;
	font-size: 32px;
	cursor: help;
}
