name: Verify
on:
  pull_request:
  push:
    branches:
      - develop
      - master

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Build font
        run: npm run build
      - name: Upload font files
        uses: actions/upload-artifact@v4
        with:
          name: fonts
          path: font/
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Check code style
        run: npm run lint
  testpage:
    name: Test page
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Download font files
        uses: actions/download-artifact@v5
        with:
          name: fonts
          path: font/
      - name: Build test page
        run: node scripts/build-testpage.js
      - name: Serve testpage
        run: npx serve --config preview/serve.json -p 8080 &
      - name: Take screenshot of testpage
        run: node scripts/preview.js
      - name: Upload testpage screenshot
        uses: actions/upload-artifact@v4
        with:
          name: preview
          path: screenshot.png
